<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<web-app>
<welcome-file-list>
   <welcome-file>/shortUrlCreator.jsp</welcome-file>
</welcome-file-list>

<error-page>
    <error-code>404</error-code>
    <location>/shortUrlCreator.jsp</location>
</error-page>


    <servlet>
        <servlet-name>inviteData</servlet-name>
        <jsp-file>/registration.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>inviteData</servlet-name>
        <url-pattern>/sign_up/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>decodeData</servlet-name>
        <jsp-file>/decode.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>decodeData</servlet-name>
        <url-pattern>/decode/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>InviteForm</servlet-name>
        <servlet-class>ch.newscron.newscronjsp.ShortUrlCreator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InviteForm</servlet-name>
        <url-pattern>/ShortUrlCreator</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>shortURLList</servlet-name>
        <jsp-file>/userShortUrlStats.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>shortURLList</servlet-name>
        <url-pattern>/userShortUrlStats</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Registration</servlet-name>
        <jsp-file>/WelcomePage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/WelcomePage/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UserList</servlet-name>
        <jsp-file>/showAllUserData.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserList</servlet-name>
        <url-pattern>/showAllUserData</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ReferralServlet</servlet-name>
        <servlet-class>ch.newscron.newscronjsp.ReferralSignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReferralServlet</servlet-name>
        <url-pattern>/referral/*</url-pattern>
    </servlet-mapping>
    
</web-app>
